/* font-family-section */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}



.sape-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* brand-style-section */
.brand{
    font-size: 2.2rem;
    font-weight: bolder;
    font-style: italic;
    color: #E6533C;
}
/* nav-item-style */

.nav-link{
    text-decoration: none;
    color: #FFFFFF;
    

}

.nav-item{
    list-style: none;
    margin-right: 30px;

    
    
   
    
}
.nav-items{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px; 
    font-size: 1.1rem;
    display: none;
   
  
}

.navbar{
    display:flex;
    justify-content: space-between;
}



/* share class */
body{
    background-color: #111111;

}
.primary-btn{
    background-color: #E6533B;
    padding: 15px 30px;
    border-radius: 38px;
    border: none;
    font-size: 1rem ;
    color: #FFFFFF;
    margin: 5px;
}


.primary-header{
    font-weight: 800;
    font-size: 2rem;
}
.display-flex{
    display: flex;
}

.margin-left{
    margin-left: 40px;
}


.body{
    background-color: #111111;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 57px;
    color: #FFFFFF;
}
.content-discribtion{
    font-size: 1rem;
    color: #757575;
}
.banner-header{
    font-weight: 900;
    font-size: 4rem;
}
.secondary-btn{
    background-color: #000000;
    padding: 15px 30px;
    border-radius: 38px;
    border: 1px solid white;
    font-size: 1rem ;
    color: #FFFFFF;
    margin: 5px;
}
.bold{
    font-weight: bold;
}
.banner {
    width: 100%;
    height: 610px;
    display: flex;
}
.banner-content{
    height: 100%;
    width: 50%;
    padding-top: 41px;
}
.banner-card-1{
    width: 181px;
    height: 104px;
    background-color: rgba(146, 139, 139, 0.353);
    border-radius: 10px;
    text-align: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 80px;
}

.banner-card-2 {
    width: 181px;
    height: 104px;
    background-color: rgba(146, 139, 139, 0.353);
    border-radius: 10px;
    text-align: center;
}
    

.banner-img{
    background-image: url(/images/Images\ 2.png);
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 140px;
    display: grid;
    background-repeat: no-repeat;
}
.dot-color {
    background-color: #E6533B;
    width: 65px;
    height: 45px;
    border-radius: 25px;
    justify-content: center;
    margin-top: 28px;
}

/* habbit section */

.habits-containt {
    text-align: center;
    margin-left: 164px;
    width: 62%;
}
.habit{
    width: 100%;
    display: flex;
   
}
.card-img{
    border-radius: 85px;
}
.habit-cards{
    margin-top: 50px;
}
.habit-card{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
/* run div section */
.run-card{
    width: auto;
    border-radius: 26px;
    height: 314px;
    background-color: #cecbcb21;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 64px;
}


.run-content{
    width: 50%;
    padding: 20px;
    margin-left: 35px;
    height: auto;
    
}
.text-align-center{
    text-align: center;
}
.card-contant{
    margin-top: 222px;
    margin-left: 11px;
}
/* Team section */
.team-card1{
    background-image: url(images/trainer1.png);
    width: 400px;
    height: 295px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 10px;
    
 
}

.team-card2{
    background-image: url(images/trainer2.png);
    width: 400px;
    height: 295px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 10px;
    
  
    
}
.team-card3{
    background-image: url(images/trainer3.png);
    width: 400px;
    height: 295px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 10px;
    
   
   
}
.team-card4{
    background-image: url(images/trainer4.png);
    width: 400px;
    height: 295px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 10px;
    
  
    
}
.team-card5{
    background-image: url(images/trainer5.png);
    width: 400px;
    height: 295px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 10px;
    
    
    
}
.team-card6{
    background-image: url(images/trainer6.png);
    width: 400px;
    height: 295px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 10px;
  
   
    
   
}
.card-team1{
   
    display: flex;
   
   

}
.card-team2{
    display: flex;
  
    
}
.card-container{
    background-color: #cecbcb21;
    border-radius: 20px;
}
.team{
    margin-bottom: 53px;
}

/* bmi section */
.bmi-calculator{
    margin-right: 20px;
}
table, th, td{
    border: 1px solid ;
    border-collapse: collapse;
    padding: 20px;
    
}
input{
    height: 44px;
    padding: 10px 50px 10px 12px;
    width: 217px;
    border-radius: 10px;
    border: none;
    margin-bottom: 8px;
    background-color: rgb(205 195 195 / 17%);
}
.input-long{
    width: 57%;
    
    height: 63px;
    padding: 10px 50px 10px 12px;
    width: 563px;
    border-radius: 10px;
    border: none;
    margin-bottom: 8px;
    background-color: rgb(205 195 195 / 17%);
    color: #757575;

}
.input-long-2{
    width: 57%;
    
    height: 63px;
    padding: 10px 50px 10px 12px;
    width: 278px;
    border-radius: 10px;
    border: none;
    margin-bottom: 8px;
    background-color: rgb(205 195 195 / 17%);
    color: #757575

}
.bmi-container{
    display: flex;
    background-color: #cecbcb21;
}
.text-align-center{
    text-align: center;
}
.bmi-chart{
    
    width: 100%;
    margin-left: 20px;
}


/* plan section */

.secondary-header{
    font-weight: 800;
    font-size: 2rem;
}
.plans {
    margin-top: 50px;
    display: flex;
  
   
} 
.plan-title{
    margin-top: 50px;
}
.plan-1 ,button{
    margin-top: 50px;
}
.plan-1{
    
        justify-content: center; 
        padding: 30px; 
        margin: 24px;
        border-radius: 30px;
         box-shadow: 0px 6px 50px 0px #6c6b6a29; 
         width: 100%;
         height: 450px;
     }

.plan-btn{
    margin-top: 54px;
    margin-right: 24px;

}
.plan-btn-1{
    margin-top: 13px;
    margin-right: 24px;


}
.doller-plan{
    font-size: 2em;
}
.li-items-2{
    list-style: none;
    color: #757575;
    margin-top: 20px;
    margin-right: 20px;
}
/* footer section */

.footer-header{
    color: #E6533C;
    font-weight: 800;
    font-size: 3rem;
}
.li-items{
    list-style: none;
    color: #757575;
    margin-top: 10px;
}
.footer-sec-header{
    margin-left: 37px;
    color: #FFFFFF;

}
.footer-continer{
    display: flex;
   
    margin-top: 60px;
}

.header1{
    width: 33%;
    margin-left: 195px;
}
.header2{
    width: 33%;
    margin-top: 44px;
    margin-left: 45px;
}
.header3{
    width: 33%;
    margin-top: 44px;
    margin-left: 45px;
}
footer{
    background-color:#cecbcb21;
}
.copy{
    text-align: center;
   
    margin-top: 21px;
}

.display-hide{
    display: none;
}

@media screen and (max-width: 577px) {

    .menu-logo{
        display: block;
    }
    
}



@media screen and (max-width: 576px) {
    *{
        margin: 0px;
        padding: 0px;
    }
   
    /* navbar start */
    
    .navbar {
        width: 90%;
        justify-content: space-between;
        margin-top: 50px;
        margin-left: 20px;
    }
    .body{
        justify-content: space-between;
        margin: 0px;

    }
    
    .nav-items{
                display: none;
                
    }
    /* nav end */

    /* banner start */

    .banner{
        flex-direction: column;
        height: 100%;
    }

    .banner-header {
        font-weight: 800;
        font-size: 3rem;
    }
    
    .banner-content {
        height: 100%;
        width: 87%;
        padding-top: 41px;
        margin-left: 17px;
    }

    .content-discribtion {
        font-size: 1rem;
        color: #757575;
        margin-top: 25px;
        margin-bottom: 20px;
    }
   
    .primary-btn {
        background-color: #E6533B;
        padding: 15px 2px;
        border-radius: 32px;

        font-size: 1rem;
        color: #FFFFFF;
        margin: 5px;
        width: 50%;
    }
    .secondary-btn {
        background-color: #111111;
        padding: 8px 30px;
        border-radius: 38px;
        border: 1px solid white;
        font-size: 1rem;
        color: #FFFFFF;
        margin: 5px;
    }
    .banner-img {
        background-image: url(images/Images\ 2.png);
        width: 75%;
        margin-top: 24px;
        margin-left: 20px;
        margin-left: 63px;
        display: grid;
        background-repeat: round;
        height: 540px;
    }

    

/* habit section */
    .habit-card{
        flex-direction: column;
    }


    .habits-containt {
        text-align: center;
        margin-top: 13%;
        width: 74%;
        margin-left: 56px;
    }

    .habit-discribtion {
        font-size: 1rem;
        color: #757575;
        margin-top: 17px;
        width: 60%;
        text-align: center;
        margin-left: 81px;
        justify-items: center;
    }

    .habit-cards {
        margin-top: 40px;
        text-align: center;
       
    }
    .card-img {
        border-radius: 101px;
        border: 4px solid #757575;
        width: 200px;
    }
    .banner-card-1 {
        width: 150px;
        height: 91px;
        background-color: rgb(146 139 139 / 15%);
        border-radius: 10px;
        text-align: center;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 80px;
    }
    .banner-card-2 {
        width: 170px;
        height: 99px;
        background-color: rgb(146 139 139 / 21%);
        border-radius: 10px;
        text-align: center;
    }
    /* run cards */
    .run-card {
        flex-direction: column;
        width: 380px;
        border-radius: 26px;
        height: 644px;
        background-color: #cecbcb21;
        gap: -6px;
        margin-top: 50px;
        margin-bottom: 64px;
        margin-left: 20px;
        margin-right: 20px;
    }
        
    .run-content {
        width: 80%;
        padding: 40px 20px 0px 20px;
        height: auto;
        margin-left: 0px;
    }
        .run-img{
            
                height: 276px;
                width: 349px;
                border-radius: 46px;
                justify-content: center;
                align-items: inherit;
              
            }

        .run-button{
                background-color: #E6533B;
                padding: 15px 2px;
                border-radius: 32px;
                font-size: 1rem;
                color: #FFFFFF;
                margin: 5px;
                width: 100%;
            
        
        }

        /* bmi section */
        .bmi-container{
            flex-direction: column;
            width: auto;
        }
        .bmi-chart {
            width: auto;
            margin-left: 20px;
            margin-left: 47px;
            margin-top: 40px;
        }
    
        .bmi-calculator {
                margin-left: 60px;
                margin-top: 35px;
                margin-bottom: 20px;
            }
        
        input {
            height: 44px;
            padding: 10px 50px 10px 12px;
            width: 100px;
            border-radius: 10px;
            border: none;
            margin-bottom: 8px;
            background-color: rgb(205 195 195 / 17%);
        }
        .input-mobile{
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
        }
        .input-long-2 {
            width: 161px;
            height: 63px;
            padding: 10px 50px 10px 12px;
            
            border-radius: 10px;
            border: none;
            margin-bottom: 8px;
            background-color: rgb(205 195 195 / 17%);
            color: #757575;
        }
        .input-long {
            
            height: 63px;
            padding: 10px 50px 10px 12px;
           
            border-radius: 10px;
            border: none;
            margin-bottom: 8px;
            background-color: rgb(205 195 195 / 17%);
            color: #757575;
            width: 330px;
        }
    
    /* team section */
    .team-header {
        font-weight: 800;
        font-size: 2rem;
        margin-top: 53px;
    }
    .card-team1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin-left:64px; */
        margin-top: 45px;
    }
    .card-team2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* margin-left:64px; */
      
    }
    .team-contents {
        width: 60%;
        margin-left: 35px;
        height: auto;
        margin-left: 75px;
    }


.plans{
    flex-direction: column;
    height: auto;
    width: auto;
  
}
.plan-1 {
    justify-content: center;
    padding: 30px;
    margin: 24px;
    border-radius: 30px;
    box-shadow: 0px 6px 50px 0px #6c6b6a29;
    width: auto;
    height: auto;
}

    
    

   

/* footer section */
.footer-continer{
    flex-direction: column;
}

.header1 {
    width: 52%;
    margin-left: 50px;
    margin-top: 25px;
}
.header2 {
    width: 50%;
    margin-top: 44px;
    margin-left: 50px;
}
.header3 {
    width: 50%;
    margin-top: 44px;
    margin-left: 50px;
}
.footer-sec-header {
    margin-left: 0px;
    color: #FFFFFF;
}

}